@model QFinans.Areas.Api.Models.SimLocation

@{
    ViewBag.Title = "Delete";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Sim Lokasyon Türü Sil</h5>
        <hr />

        <dl class="row">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <a class="btn btn-sm btn-info" href="@Url.Action("Index", "SimLocation")"><i class="fas fa-arrow-circle-left"></i> Geri Dön</a>
                <button type="submit" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Sil</button>
            </div>
        }
    </div>
</div>
