
@{
    ViewBag.Title = "UnAuthorized";
}

<div class="d-flex justify-content-center w-100 h-100">
    <div class="d-flex align-items-center w-100">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">OOPS!</h5>
                <p class="card-text">Yetkiniz bulunmamaktadır.</p>
            </div>
        </div>
    </div>
</div>

